{#
  name: checkbox
  usage: The checkbox is a basic form element that appears in a fieldset
#}

<input type="checkbox" id="checkbox-{{ label }}" />
<label for="checkbox-{{ label}}">{{ label }}</label>

