---
layout: default
placeholder: This is the component.
---

{% set container_attrs = '' %}
{% if page.category == 'sidebar' %}
  {% set container_attrs = ' class="container"' %}
{% endif %}

{% block content_wrapper %}
  <div class="container">
    <header class="l-column">
      <h5 class="styleguide-label">Living Styleguide</h5>
      <h1 class="styleguide-logo"><a href="{{ site.url }}/">[ logo ]</a></h1>
    </header>
  </div>
  <div class="component-header">
    <div class="container">
      <main class="l-column">
        <h2 class="styleguide-title--component">{{ page.title }}</h2>
        <p>{{ page.description }}</p>
      </main>
    </div>
  </div>
  <div class="styleguide-component">
    container
    <div{{ container_attrs }}>
      {% block content %}component{{ placeholder }}{% endblock %}
    </div>
  </div>
{% endblock %}
