---
layout: "default"
placeholder: "This is the element."
---

{% block content_wrapper %}
  <div class="component-header">
    <div class="container">
      <div class="l-styleguide-column">
        <main>
          <h2 class="styleguide-title--component">{{ page.title }}</h2>
          <p> {{ page.description }}</p>
        </main>
      </div>
    </div>
  </div>
  <div class="styleguide-component">
  {% if page.type == "rail" %}
    <div class="container">
      <div class="l-styleguide-rail">
  {% elseif page.type == "main" %}
    <div class="container">
      <div class="l-styleguide-column">
  {% elseif page.type == "full-width" %}
    <div>
      <div>
  {% endif %}
     {% block content %}{{page.content}}{% endblock %}
      </div>
    </div>
  </div>
{% endblock %}
